<div *ngIf="currentBook && !allBooksRated">
    <h2>{{ currentBook.title }}</h2>
    <p>{{ currentBook.description }}</p>
    <p>
      Authors:
      <span *ngFor="let author of currentBook.authors; let isLast = last"
        >{{ author }}{{ isLast ? "" : ", " }}</span
      >
    </p>
    <p>Rating: {{ currentBook.rating }}</p>
  
    <h2>Rate the book:</h2>
    <div class="button-container">
      <button *ngFor="let rating of [1, 2, 3, 4, 5]" (click)="rateBook(rating)">
        {{ rating }}
      </button>
    </div>
  
    <div *ngIf="currentBook.rating > 0">
      <h2>Update the book</h2>
      <p>You can change the rating too</p>
      <input [(ngModel)]="currentBook.title" placeholder="Title" />
      <input [(ngModel)]="currentBook.description" placeholder="Description" />
      <div *ngFor="let author of currentBook.authors; let i = index">
        <input [(ngModel)]="currentBook.authors[i]" placeholder="Author" />
      </div>
      <button class = "update" (click)="updateBook(currentBook.title, currentBook.description, currentBook.authors)">
        Update
      </button>
    </div>
  </div>
  
  <div *ngIf="allBooksRated && !isDone">
    <h2>Край!</h2>
    <button class="restart" (click)="restart()">Оцени отново</button>
    <button class="finish" (click)="finish()">Приключи</button>
  </div>

  <div *ngIf="isDone">
    <h2>Ти приключи със своето оценяване!</h2>
  </div>

 
